.custom-company-card {
  align-content: center;
  aspect-ratio: 1 / 1; /* שומר על יחס רוחב/גובה של 1:1 */
  width: 100%; /* תתאים את הרוחב לפי הגריד/מיכל האב */
  max-width: 345px; /* אפשר להשאיר או להוריד לפי הצורך */
  border-radius: 10px;
}
